
<body class="article">
<header>
  <div class="wrapper">
    <div class="box">
    </div>
    <div class="banner">
      <div class="teg" >
        <a href="#" >{{ car.type }}</a>
        <a href="#" >{{ car.country }}</a>
      </div>
      <div class="img"  >
        <img  [src]="car.imageTitle" alt="">
      </div>
      <div class="box">
        <div class="zag">{{car.name}}</div>
        <div class="text">
          <p>{{car.subTitle}}</p>
          <a href="#">поделиться</a>
        </div>
      </div>
    </div>
  </div>
</header>
<section class="sec-7">
  <div class="wrapper">
    <div class="box">
      <div class="item" *ngFor="let important of car.important">
        <div class="num" style="font-size: 39px; line-height: 29.25px; margin-top: 20px;">{{ important.title }}</div>
        <div class="text">{{important.subtitle}}
        </div>
      </div>
    </div>
  </div>
</section>
<section class="sec-8">
  <div class="wrapper">
    <!-- Начало статьи -->
    <div class="title">{{ car.title2?.name }}</div>
    <div class="box">
      <div class="left">
        <div class="text">{{ car.title2?.subtitle }}
        </div>
        <div class="zag">{{ car.title2?.title2 }}</div>
        <div class="text">{{ car.title2?.subtitle2 }}
        </div>
      </div>
      <div class="right">
        <img [src]="car.title2?.img" alt="">
      </div>
    </div>
<!--    <div class="blockquote">{{car.text}}-->
    </div>
<!--    <div class="title">{{ car.title3?.name }}</div>-->
<!--    <div class="box">-->
<!--      <div class="left">-->
<!--        <div class="zag">{{ car.title3?.title }}</div>-->
<!--        <div class="text">{{ car.title3?.subtitle }}-->
<!--        </div>-->
<!--        <div class="zag">{{ car.title3?.title2 }}</div>-->
<!--        <div class="text">{{ car.title3?.subtitle2 }}-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="right">-->
<!--        <img [src]="car.title3?.img" alt="">-->
<!--      </div>-->
<!--    </div>-->
    <!-- Конец статьи -->
<!--  </div>-->
</section>


<section class="sec-8">
  <div class="wrapper">
    <!-- Начало статьи -->
    <div class="box">
      <div class="left" style="    height: fit-content;">
        <div class="title1" style="    font-size: 20px;
    font-weight: 600;
    line-height: 23.86px;
    text-align: left;
    color: #000;
    text-transform: uppercase;
    margin-bottom: 17px;
}">{{ car.block2?.title1 }}</div>
        <div class="" *ngFor="let text of car.block2?.subtitle1">{{ text }}</div>
      </div>
      <div class="right" style="    height: fit-content; border-radius: 0">
        <div class="title1" style="    font-size: 20px;
    font-weight: 600;
    line-height: 23.86px;
    text-align: left;
    color: #000;
    text-transform: uppercase;
    margin-bottom: 17px;
}">{{ car.block2?.title2 }}</div>
        <div class="">{{ car.block2?.subtitle2 }}</div>
      </div>
    </div>
  </div>
</section>


<section class="sec-8">
  <div class="wrapper">
    <!-- Начало статьи -->
    <div class="box">
      <div class="left">
        <img class="radius" [src]="car.block3?.image" alt="">
      </div>
      <div class="right">
        <div class="title">{{ car.block3?.title }}</div>

        <div class="text" style="margin-bottom: 20px;">{{ car.block3?.subtitle!.text1! }}
        </div>
        <div class="text"  *ngFor="let text of car.block3?.subtitle!.info!">{{text}}
        </div>
        <div class="text" style="margin-top: 20px;">{{ car.block3?.subtitle!.footer! }}
        </div>
        </div>
      </div>
    </div>
</section>
<section class="sec-5">
  <div class="wrapper">
    <div class="box">
      <div class="left">
        <div class="title">Получай обновления <br>и новости раньше всех</div>
        <form>
          <label for="mail">e-mail:</label>
          <input type="text" placeholder="my.mail@gmail.com" name="mail" id="mail">
          <button type="submit" class="btn">подписаться</button>
        </form>
      </div>
      <div class="right">
        <a href="#">
          <img src="assets/img/vk.svg" alt="">
          <span>ВКонтакте</span>
        </a>
        <a href="#">
          <img src="assets/img/ya.svg" alt="">
          <span>Яндекс.Дзен</span>
        </a>
        <a href="#">
          <img src="assets/img/tg.svg" alt="">
          <span>Telegram</span>
        </a>
        <a href="#">
          <img src="assets/img/mail.svg" alt="">
          <span>Mail.ru</span>
        </a>
      </div>
    </div>
  </div>
</section>


</body>
