
<body class="article">
<header>
  <div class="wrapper">
    <div class="box">
    </div>
    <div class="banner">
      <div class="teg" >
        <a href="#" *ngFor="let article of articles.type">{{ article }}</a>
      </div>
      <div class="img">
        <img [src]="articles.image" alt="">
      </div>
      <div class="box">
        <div class="zag">{{articles.title}}</div>
        <div class="text">
          <p>{{articles.subTitle}}</p>
          <a href="#">поделиться</a>
        </div>
      </div>
    </div>
  </div>
</header>
<section class="sec-7">
  <div class="wrapper">
    <div class="title">Самое важное</div>
    <div class="box">
      <div class="item" *ngFor="let important of articles.important">
        <div class="num">{{ important.number }}</div>
        <div class="zag">{{ important.title }}</div>
        <div class="text">{{important.subtitle}}
        </div>
      </div>
    </div>
  </div>
</section>
<section class="sec-8">
  <div class="wrapper">
    <!-- Начало статьи -->
    <div class="title">{{ articles.title2?.name }}</div>
    <div class="box">
      <div class="left">
        <div class="zag">{{ articles.title2?.title }}</div>
        <div class="text">{{ articles.title2?.subtitle }}
        </div>
        <div class="zag">{{ articles.title2?.title2 }}</div>
        <div class="text">{{ articles.title2?.subtitle2 }}
        </div>
      </div>
      <div class="right">
        <img [src]="articles.title2?.img" alt="">
      </div>
    </div>
    <div class="blockquote">{{articles.text}}
    </div>
    <div class="title">{{ articles.title3?.name }}</div>
    <div class="box">
      <div class="left">
        <div class="zag">{{ articles.title3?.title }}</div>
        <div class="text">{{ articles.title3?.subtitle }}
        </div>
        <div class="zag">{{ articles.title3?.title2 }}</div>
        <div class="text">{{ articles.title3?.subtitle2 }}
        </div>
      </div>
      <div class="right">
        <img [src]="articles.title3?.img" alt="">
      </div>
    </div>
    <!-- Конец статьи -->
  </div>
</section>
<section class="sec-5">
  <div class="wrapper">
    <div class="box">
      <div class="left">
        <div class="title">Получай обновления <br>и новости раньше всех</div>
        <form>
          <label for="mail">e-mail:</label>
          <input type="text" placeholder="my.mail@gmail.com" name="mail" id="mail">
          <button type="submit" class="btn">подписаться</button>
        </form>
      </div>
      <div class="right">
        <a href="#">
          <img src="assets/img/vk.svg" alt="">
          <span>ВКонтакте</span>
        </a>
        <a href="#">
          <img src="assets/img/ya.svg" alt="">
          <span>Яндекс.Дзен</span>
        </a>
        <a href="#">
          <img src="assets/img/tg.svg" alt="">
          <span>Telegram</span>
        </a>
        <a href="#">
          <img src="assets/img/mail.svg" alt="">
          <span>Mail.ru</span>
        </a>
      </div>
    </div>
  </div>
</section>


</body>
