.person-info {
  display: flex;
  justify-content: space-between;
}

.person-info__box {
  max-width: 600px;
}

.title {
  margin-bottom: 32px;
  font-size: 40px;
  font-weight: 600;
  line-height: 48px;
  color: rgba(59, 164, 243, 1);
}

.paragraph {
  font-size: 18px;
  line-height: 21.6px;
  margin-bottom: 30px;
}

.mt40 {
  margin-top: 40px;
}

.img {
  border-radius: 20px;
}
