<header>
  <div class="wrapper">
    <div class="banner">
      <div class="img">
        <img src="assets/img/img.jpg" alt="">
      </div>
      <div class="box">
        <div class="logo">
          <img src="assets/img/logo1.svg" alt="Swoosh">
        </div>
        <div class="text">Станем твоим проводником в автомобильный мир</div>
      </div>
    </div>
  </div>
</header>

<section class="sec-1">
  <div class="wrapper">
    <div class="box">
      <div class="title">Статьи</div>
      <div class="link">
        <a routerLink="articles">смотреть все</a>
      </div>
    </div>
    <div class="box">
      <div class="item">
        <a routerLink="">
                        <span class="img">
                            <img src="assets/img/img1.jpg" alt="">
                        </span>
          <span class="teg">
                            <span>Безопасность</span>
                            <span>ДТП</span>
                            <span>Статьи</span>
                        </span>
          <span class="content">
                            <span class="zag">Что делать при ДТП?</span>
                            <span class="text">Как правильно оформить ДТП, кого и как вызывать расскажем в статье</span>
                        </span>
        </a>
      </div>
      <div class="item">
        <a routerLink="articles">
                        <span class="img">
                            <img src="assets/img/img2.jpg" alt="">
                        </span>
          <span class="teg">
                            <span>SOS</span>
                            <span>Авто</span>
                            <span>Статьи</span>
                        </span>
          <span class="content">
                            <span class="zag">заправился не тем топливом</span>
                            <span class="text">Какие действия предпринять, чтобы спасти машину и кошелек</span>
                        </span>
        </a>
      </div>
    </div>
  </div>
</section>
<section class="sec-2">
  <div class="wrapper">
    <div class="box">
      <div class="title">Лайфхаки</div>
      <div class="link">
        <a routerLink="life-hacks">смотреть все</a>
      </div>
    </div>
    <div class="box">
      <div class="item">
        <a routerLink="error-page">
                        <span class="img">
                            <img src="assets/img/img3.png" alt="">
                        </span>
          <span class="teg">
                            <span>Авто</span>
                            <span>Лайфхаки</span>
                        </span>
          <span class="content">
                            <span class="zag">тук-тук, хозяин!</span>
                            <span class="text">Советы, которые помогут двигателю прожить долго</span>
                        </span>
        </a>
      </div>
      <div class="item">
        <a routerLink="error-page">
                        <span class="img">
                            <img src="assets/img/img4.png" alt="">
                        </span>
          <span class="teg">
                            <span>Зима</span>
                            <span>Лайфхаки</span>
                        </span>
          <span class="content">
                            <span class="zag">примерзли дворники</span>
                            <span class="text">Не спешите применять грубую силу, есть выход</span>
                        </span>
        </a>
      </div>
      <div class="item">
        <a routerLink="error-page">
                        <span class="img">
                            <img src="assets/img/img5.png" alt="">
                        </span>
          <span class="teg">
                            <span>Авто</span>
                            <span>Лайфхаки</span>
                        </span>
          <span class="content">
                            <span class="zag">Запотели стекла</span>
                            <span class="text">Как избавиться от самой частой проблемы в авто</span>
                        </span>
        </a>
      </div>
      <div class="item">
        <a routerLink="error-page">
                        <span class="img">
                            <img src="assets/img/img6.png" alt="">
                        </span>
          <span class="teg">
                            <span>Мойка</span>
                            <span>Лайфхаки</span>
                        </span>
          <span class="content">
                            <span class="zag">Спасибо, достаточно</span>
                            <span class="text">Какие услуги вам могут попытаться навязать</span>
                        </span>
        </a>
      </div>
    </div>
  </div>
</section>
<section class="sec-3">
  <div class="wrapper">
    <div class="box">
      <div class="title">Обзоры</div>
      <div class="link">
        <a routerLink="reviews">смотреть все</a>
      </div>
    </div>
    <div class="box">
      <div class="item">
        <a routerLink="error-page">
                        <span class="img">
                            <img src="assets/img/img7.jpg" alt="">
                        </span>
          <span class="teg">
                            <span>Новинки</span>
                            <span>Китай</span>
                            <span>Обзор</span>
                        </span>
          <span class="content">
                            <span class="zag">Geely Monjaro</span>
                            <span class="text">кроссовер из китая</span>
                        </span>
        </a>
      </div>
      <div class="item">
        <a routerLink="error-page">
                        <span class="img">
                            <img src="assets/img/img8.jpg" alt="">
                        </span>
          <span class="teg">
                            <span>Классика</span>
                            <span>Германия</span>
                            <span>Обзор</span>
                        </span>
          <span class="content">
                            <span class="zag">Toyota RAV4</span>
                            <span class="text">2013-2019</span>
                        </span>
        </a>
      </div>
      <div class="item">
        <a routerLink="error-page">
                        <span class="img">
                            <img src="assets/img/img9.jpg" alt="">
                        </span>
          <span class="teg">
                            <span>Классика</span>
                            <span>Корея</span>
                            <span>Обзор</span>
                        </span>
          <span class="content">
                            <span class="zag">Hyundai Solaris</span>
                            <span class="text">знакомый седан</span>
                        </span>
        </a>
      </div>
      <div class="item">
        <a routerLink="error-page">
                        <span class="img">
                            <img src="assets/img/img10.jpg" alt="">
                        </span>
          <span class="teg">
                            <span>Новинки</span>
                            <span>Швеция</span>
                            <span>Обзор</span>
                        </span>
          <span class="content">
                            <span class="zag">Volvo XC90</span>
                            <span class="text">гибридный кроссовер</span>
                        </span>
        </a>
      </div>
    </div>
  </div>
</section>
<section class="sec-4">
  <div class="wrapper">
    <div class="box">
      <div class="title">Личности</div>
      <div class="link">
        <a routerLink="persons">смотреть все</a>
      </div>
    </div>
    <div class="item">
      <a routerLink="error-page">
                    <span class="img">
                        <img src="assets/img/img11.png" alt="">
                    </span>
        <span class="teg">
                        <span>Гонки</span>
                        <span>Ралли</span>
                        <span>Личности</span>
                    </span>
        <span class="content">
                        <span class="zag">Мишель Мутон</span>
                        <span class="text">Самая быстрая женщина в мире</span>
                    </span>
      </a>
    </div>
  </div>
</section>
<section class="sec-5">
  <div class="wrapper">
    <div class="box">
      <div class="left">
        <div class="title">Получай обновления <br>и новости раньше всех</div>
        <form>
          <label for="mail">e-mail:</label>
          <input type="text" placeholder="my.mail@gmail.com" name="mail" id="mail">
          <button type="submit" class="btn">подписаться</button>
        </form>
      </div>
      <div class="right">
        <a href="#">
          <img src="assets/img/vk.svg" alt="">
          <span>ВКонтакте</span>
        </a>
        <a href="#">
          <img src="assets/img/ya.svg" alt="">
          <span>Яндекс.Дзен</span>
        </a>
        <a href="#">
          <img src="assets/img/tg.svg" alt="">
          <span>Telegram</span>
        </a>
        <a href="#">
          <img src="assets/img/mail.svg" alt="">
          <span>Mail.ru</span>
        </a>
      </div>
    </div>
  </div>
</section>
