<header>
  <div class="wrapper">
    <div class="banner">
      <div class="img">
        <img src="assets/img/img.jpg" alt="">
      </div>
      <div class="box">
        <div class="logo">
          <img src="assets/img/logo1.svg" alt="Swoosh">
        </div>
        <div class="text">Станем твоим проводником в автомобильный мир</div>
      </div>
    </div>
  </div>
</header>

<section class="sec-1">
  <div class="wrapper">
    <div class="box">
      <div class="title">Статьи</div>
      <div class="link">
        <a routerLink="articles">смотреть все</a>
      </div>
    </div>
    <div class="box">
      <div class="item pointer" *ngFor="let article of articles">
        <a (click)="chooseArticle(article)">
                        <span class="img">
                            <img [src]="article.image" alt="">
                        </span>
          <span class="teg">
                            <span *ngFor="let type of article.type">{{ type }}</span>
                        </span>
          <span class="content">
                            <span class="zag">{{ article.title }}</span>
                            <span class="text">{{ article.description }}</span>
                        </span>
        </a>
      </div>

    </div>
  </div>
</section>
<section class="sec-2">
  <div class="wrapper">
    <div class="box">
      <div class="title">Лайфхаки</div>
      <div class="link">
        <a routerLink="life-hacks">смотреть все</a>
      </div>
    </div>
    <div class="box">
      <div class="item pointer" *ngFor="let lifeHack of lifeHacks">
        <a (click)="chooseLifeHack(lifeHack)" >
                        <span class="img">
                            <img [src]="lifeHack.icon" alt="">
                        </span>
          <span class="teg">
                            <span *ngFor="let type of lifeHack.type">{{ type }}</span>
                            <span >Лайфхаки</span>
                        </span>
          <span class="content">
                            <span class="zag">{{ lifeHack.title }}</span>
                            <span class="text">{{ lifeHack.description }}</span>
                        </span>
        </a>
      </div>
    </div>
  </div>
</section>
<section class="sec-3">
  <div class="wrapper">
    <div class="box">
      <div class="title">Обзоры</div>
      <div class="link">
        <a routerLink="reviews">смотреть все</a>
      </div>
    </div>
    <div class="box">
      <div class="item pointer" *ngFor="let car of cars">
        <a (click)="chooseCars(car)">
                        <span class="img">
                            <img [src]="car.image" alt="">
                        </span>
          <span class="teg">
                            <span >{{ car.country }}</span>
                            <span >{{ car.type }}</span>

                        </span>
          <span class="content">
                            <span class="zag">{{ car.name }}</span>
                            <span class="text">{{ car.description }}</span>
                        </span>
        </a>
      </div>

    </div>
  </div>
</section>
<section class="sec-4">
  <div class="wrapper">
    <div class="box">
      <div class="title">Личности</div>
      <div class="link">
        <a routerLink="persons">смотреть все</a>
      </div>
    </div>
    <div class="item pointer" >
      <a (click)="choosePerson(person)">
                    <span class="img">
                        <img [src]="person.image" alt="">
                    </span>
        <span class="teg">
                        <span *ngFor="let type of person.type">{{ type }}</span>
                        <span>Личности</span>
                    </span>
        <span class="content">
                        <span class="zag">{{ person.name }}</span>
                        <span class="text">{{person.description}}</span>
                    </span>
      </a>
    </div>
  </div>
</section>
<section class="sec-5">
  <div class="wrapper">
    <div class="box">
      <div class="left">
        <div class="title">Получай обновления <br>и новости раньше всех</div>
        <form>
          <label for="mail">e-mail:</label>
          <input type="text" placeholder="my.mail@gmail.com" name="mail" id="mail">
          <button type="submit" class="btn">подписаться</button>
        </form>
      </div>
      <div class="right">
        <a href="#">
          <img src="assets/img/vk.svg" alt="">
          <span>ВКонтакте</span>
        </a>
        <a href="#">
          <img src="assets/img/ya.svg" alt="">
          <span>Яндекс.Дзен</span>
        </a>
        <a href="#">
          <img src="assets/img/tg.svg" alt="">
          <span>Telegram</span>
        </a>
        <a href="#">
          <img src="assets/img/mail.svg" alt="">
          <span>Mail.ru</span>
        </a>
      </div>
    </div>
  </div>
</section>
