<body class="articles">
<header>
  <div class="wrapper">

    <div class="banner">
      <div class="img">
        <img src="assets/img/img24.jpg" alt="">
      </div>
      <div class="box">
        <div class="text text-logo">
          <div class="bold">b<span>eee</span>p</div><span>.</span>обзоры
        </div>
      </div>
    </div>
  </div>
</header>
<section class="sec-10">
  <div class="wrapper">
    <div class="box">
      <label class="checkbox-filter" *ngFor="let category of carsService.categories; let i = index">
        <input class="checkbox-input" name="teg1" type="checkbox" (click)="addToArrayCategories(category)">
        <span class="checkbox-content">{{category}}</span>
      </label>
    </div>
    <div class="box">
      <div class="item" *ngFor="let car of filteredCars$ | async ">
        <a  (click)="selectCar(car)">
                    <span class="img">
                        <img [alt]="car.name" [src]="car.image">
                    </span>
          <span class="teg">
                        <span>{{car.type}}</span>
                        <span>{{car.country}}</span>
                    </span>
          <span class="content">
                        <span class="zag">{{car.name}}</span>
                        <span class="text">{{car.description}}</span>
                    </span>
        </a>
      </div>
    </div>
  </div>
</section>
<section class="sec-5">
  <div class="wrapper">
    <div class="box">
      <div class="left">
        <div class="title">Получай обновления <br>и новости раньше всех</div>
        <form>
          <label for="mail">e-mail:</label>
          <input id="mail" name="mail" placeholder="my.mail@gmail.com" type="text">
          <button class="btn" type="submit">подписаться</button>
        </form>
      </div>
      <div class="right">
        <a href="#">
          <img alt="" src="assets/img/vk.svg">
          <span>ВКонтакте</span>
        </a>
        <a href="#">
          <img alt="" src="assets/img/ya.svg">
          <span>Яндекс.Дзен</span>
        </a>
        <a href="#">
          <img alt="" src="assets/img/tg.svg">
          <span>Telegram</span>
        </a>
        <a href="#">
          <img alt="" src="assets/img/mail.svg">
          <span>Mail.ru</span>
        </a>
      </div>
    </div>
  </div>
</section>
